# IDEs
.vs/
/.idea

# "Development" configuration for project and "Local" configuration for testing
MeetupPlatform.Api/Properties/appSettings.Development.json
MeetupPlatform.Tests/Properties/appSettings.Local.json

# Build artifacts
/**/bin/
/**/obj/
