# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore,aspnetcore,web,csharp
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore,aspnetcore,web,csharp

### ASPNETCore ###

# Visual Studio 2015 cache/options directory
.vs/

# DNX
*.obj

appsettings.*.json

appsettings.json

# .NET Core build folders
bin/
obj/
